{% extends 'base.html' %}
{% block content %}

<div class="container w-50 border border-3 shadow p-5 mt-5 mb-5">
   {% for i in orders %}
    <div class="container mt-5 p-4 border border-4">
        <h4>Order No:{{i.order_id}}</h4>
        <p>Order Total:{{i.amount}}</p>
        <p>OrderOn: {{i.ordered_date}}</p>
        <p >Order Status:<span class="text-danger">{{i.delivery_status}}</span></p>
        {% for j in i.items.all %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{j.product.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
            <div class="col-md-8">
               <div class="card-body">
                <h5 class="card-title">Name: {{j.product.name}}</h5>
                   <p class="card-text">₹{{j.product.price}}</p>
                   <p class="card-text"><span class="text-muted">Qty:{{j.quantity}}</span></p>
                 </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
    </div>

{% endblock %}