{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="row">

        <div class="col-md-5">
            <img src="{{ product.image.url }}" class="img-fluid">
        </div>

        <div class="col-md-7">

            <h2>{{ product.name }}</h2>

            <h4 class="text-success">₹{{ product.price }}</h4>

            <p>{{ product.description }}</p>

            <p><strong>Stock:</strong> Currently {% if product.stock > 0 %}
                                                      {{product.stock }}pieces available
                                               {% else %}Not available
                                                {% endif %}</p>

            {% if product.prescription %}
                <span class="badge bg-danger">
                    Prescription Required
                </span>
            {% endif %}

            <br><br>

            {% if user.is_superuser == True %}
                    <a class="btn hvr-hover" href="{% url 'shop:addstock' product.id %}">Add stock</a>
                    {% else %}
                      {% if product.stock > 0 %}
					     <a class="btn hvr-hover" href="{% url 'cart:addtocart' product.id %}">Add to Cart</a>
                      {% else %}
                    <h3 class="mt-3 text-danger">OUT OF STOCK</h3>
                    {% endif %}
                    {% endif %}


        </div>

    </div>

</div>

{% endblock %}